.banner{
  display: block;
  padding: 5px;
  margin: 0;
  width: 100vw;
  height: 80vh;
  position: relative;
}

.bannerText{
  position: relative;
  top:250px;
  font-size: 15px;
  text-align: center;
}